/* DashboardAdmin.module.css */

.page {

  background-color: #FFFDF6;
  font-family: Arial, sans-serif;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;  
  margin: 20px auto;
  max-width: 1100px;
  margin-bottom: 20px;
  text-align: center;
}

.navbar {
  margin-bottom: 25px;
}

.footer {
  margin-bottom: 25px;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #84232b;
  margin-bottom: 20px;
}

.botones {
  margin-bottom: 20px;
}

.mininavbar {
  background-color: #f5f5f5;
  border-radius: 3px;
  color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  text-align: center;
}

.filtersContainer {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
}

.searchBar {
  margin-top: -40px; 
  
}

.btnAgregar {
  background-color: #245e36;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}


.buttonSelect {

  background-color: #84232b; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.buttonSelect:hover {

  background-color: #f100009a; 

}

.table {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* width: 800px; */

  
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center; 
}

.btnless {
  display: flex;
  position: relative;
  margin-right: 10px;
  left: 590px;
  bottom: 5px;
}

/* Media queries para tamaños de pantalla específicos */

/* Estilos para pantallas pequeñas (por ejemplo, teléfonos) */
@media (max-width: 768px) {
  .container {
    padding: 10px; /* Ajusta el espacio interior para pantallas pequeñas */
  }

  .btnless {
    left: 10px; /* Ajusta el valor según tu diseño para pantallas pequeñas */
  }
}

