footer {
    background-color: #ffffff; /* Cambia el color de fondo según tu preferencia */
    padding: 10px 0;
    text-align: center;
    color: #020202; /* Cambia el color del texto según tu preferencia */
    font-size: 14px;
}
  
p {
    margin: 0;
}
  
  