.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.section {
  flex: 1;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para transformaciones y sombras */
  border: 1px solid #ddd;
  border-radius: 8px; /* Agrega bordes redondeados */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

.section:hover {
  transform: scale(1.05); /* Escala la sección al pasar el cursor para un efecto de zoom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}